@charset "UTF-8";

.blog-body {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

* {
  font-family: "Mplus 1p";
}

.heading:link,
.heading:visited {
  color: #000000;
  text-decoration: none;
}

.heading:hover {
  color: #555555;
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.inline {
  display: inline-flex;
}

.center {
  text-align: center;
}

.latex {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.graph {
  width: 100%;
  height: auto;
}

/* footer */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  background-color: darkgray;
  padding: 15px 0;
}

.footer_ul {
  column-count: 6;
}

@media only screen and (max-device-width: 480px) {
  .footer_ul {
    column-count: 2;
  }
}

/* radioButton */
.radioArea input[type="radio"] {
  width: 13pt; /* 大きさ：横 */
  height: 13pt; /* 大きさ：縦 */
  vertical-align: top; /* 並び位置   */
  display: none; /* チェックボックス非表示 */
}
/* --- チェックボックス直後のlabel --- */
.radioArea input[type="radio"] + label {
  padding: 0 10px; /* labelの余白 */
  font-size: 13pt; /* labelの文字サイズ */
  border: 2px solid rgb(108, 117, 125); /* labelの枠線 */
  border-radius: 5px; /* labelの角丸 */
  background: #ffffff; /* lebelの背景 */
  cursor: pointer; /* カーソル設定 */
  transition: 0.2s; /* なめらか変化 */
}
/* --- 選択されたチェックボックス直後のlabel --- */
.radioArea input[type="radio"]:checked + label {
  color: #ffffff;
  background: rgb(108, 117, 125); /* lebelの背景 */
}
/* --- 選択されていないチェックボックス直後のlabelにマウスが乗った --- */
.radioArea input[type="radio"]:not(:checked) + label:hover {
  color: #ffffff;
  background: rgba(108, 117, 125, 0.4); /* lebelの背景 */
}
