{% extends "layout_game.html" %}

{% block BODY %}
<h2><a href="{{url_for('game.janken_ml_view')}}" class="heading">じゃんけん(機械学習版)</a></h2>
<br>

<div class="center">
    {% if n=='1' %}
    <button class="btn btn-secondary" onclick="location.href='/game/janken_ml?n=1'">
        <img src="static_game/images/janken_gu.png" width="128" height="128" alt="グー">
    </button>
    {% else %}
    <button class="btn btn-outline-dark" onclick="location.href='/game/janken_ml?n=1'">
        <img src="static_game/images/janken_gu.png" width="128" height="128" alt="グー">
    </button>
    {% endif %}

    {% if n=='2' %}
    <button class="btn btn-secondary" onclick="location.href='/game/janken_ml?n=2'">
        <img src="static_game/images/janken_choki.png" width="128" height="128" alt="チョキ">
    </button>
    {% else %}
    <button class="btn btn-outline-dark" onclick="location.href='/game/janken_ml?n=2'">
        <img src="static_game/images/janken_choki.png" width="128" height="128" alt="チョキ">
    </button>
    {% endif %}

    {% if n=='3' %}
    <button class="btn btn-secondary" onclick="location.href='/game/janken_ml?n=3'">
        <img src="static_game/images/janken_pa.png" width="128" height="128" alt="パー">
    </button>
    {% else %}
    <button class="btn btn-outline-dark" onclick="location.href='/game/janken_ml?n=3'">
        <img src="static_game/images/janken_pa.png" width="128" height="128" alt="パー">
    </button>
    {% endif %}

    <br><br><br><br>
    {% for anser in Anser%}
    <h4>{{anser}}</h4>
    {% endfor %}
</div>
{% endblock %}