{% extends "layout.html" %}

{% block body %}
<h2><a href="{{url_for('Math.bode_view')}}" class="heading">ボード線図</a></h2>
<br>

<form action="{{url_for('Math.bode_view')}}" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="InputFormula">伝達関数\(G(s)\)を入力してください</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><small>\(G(s)=\)</small></span>
      </div>
      <input type="text" name="formula" class="form-control" id="InputFormula" value="{{formula}}" placeholder="function">
    </div>
  </div>
  <div class="form-group">
    <p>wの定義域を入力してください</p>
    <div class="form-row align-items-center">
      <div class="col-6">
        <div class="input-group">
          <input type="text" name="lower_end" class="form-control" value="{{lower_end}}" placeholder="10^{lower_end}">
        </div>
      </div>
      <div class="col-6">
        <div class="input-group">
          <input type="text" name="upper_end" class="form-control" value="{{upper_end}}" placeholder="10^{upper_end}">
        </div>
      </div>
    </div>
  </div><br>
  <button type="submit" class="btn btn-primary btn-block">描画</button>
</form><br>

<div id="parent"></div>
<script type="text/javascript" src="static_math/js/button_x.js"></script>


{% if init_flag==0 %}
<div class="center">
  <img src="{{url_for('Math.bode_png',formula=formula,lower_end=lower_end,upper_end=upper_end)}}" class="graph"></img>
</div>
{% endif %}

{% endblock %}