{% extends "layout.html" %}

{% block body %}
<h2><a href="{{url_for('Math.Homogeneous_view')}}" class="heading">同次変換行列</a></h2>
<br>

<form action='{{url_for("Math.Homogeneous_view")}}' method="post" enctype="multipart/form-data">
  <!-- リンクパラメータの入力 -->
  <div class="form-group">
    <label for="InputMatrix">リンクパラメータを入力してください</label>
    <textarea class="form-control" id="InputMatrix" name=matrixA rows="4">{{matrixA}}</textarea>
  </div>
  <div class="btn_calc">
    <button type="submit" class="btn btn-primary btn-block">計算</button>
  </div>
</form>

<div class="accordion" id="accordion_1">
  <div class="card">
    <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" aria-controls="collapse_1">関数入力</button>
    {% if init_flag==1 %}
    <div id="collapse_1" class="collapse show" aria-labelledby="heading_1" data-parent="#accordion_1">
      <div id="parent"></div>
    </div>
    {% else %}
    <div id="collapse_1" class="collapse" aria-labelledby="heading_1" data-parent="#accordion_1">
      <div id="parent"></div>
    </div>
    {% endif %}
  </div>
</div><br>
<script type="text/javascript" src="static_math/js/button_x_homogeneous.jss"></script>


{% if init_flag==0 %}
<div class="center">
  <h4 class="latex">\[{{anser}}\]</h4><br>
  <h5>\(\LaTeX\)</h5>
  <h5 class="latex" id="targetID">
      {{anser}}
  </h5><br>
  <button class="btn btn-outline-success" onclick="copy()">コピー</button>
  <script src="static_math/js/copy.js"></script>
</div>
{% endif %}

{% endblock %}