{% extends "layout.html" %}

{% block body %}
<h2><a href="{{url_for('Math.nyquist_view')}}" class="heading">ナイキスト線図</a></h2>
<br>

<form action="{{url_for('Math.nyquist_view')}}" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="InputFormula">伝達関数\(G(s)\)を入力してください</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><small>\(G(s)=\)</small></span>
      </div>
      <input type="text" name="formula" class="form-control" id="InputFormula" value="{{formula}}" placeholder="function">
    </div>
  </div>
  <div class="btn_calc">
    <button type="submit" class="btn btn-primary btn-block">計算</button>
  </div>
</form>

<div class="accordion" id="accordion_1">
  <div class="card">
    <button class="btn btn-secondary btn-block" type="button" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" aria-controls="collapse_1">式入力</button>
    {% if init_flag==1 %}
    <div id="collapse_1" class="collapse show" aria-labelledby="heading_1" data-parent="#accordion_1">
      <div id="parent"></div>
    </div>
    {% else %}
    <div id="collapse_1" class="collapse" aria-labelledby="heading_1" data-parent="#accordion_1">
      <div id="parent"></div>
    </div>
    {% endif %}
  </div>
</div><br>
<script type="text/javascript" src="static_math/js/button_x.js"></script>


{% if init_flag==0 %}
<div class="center">
  <img src="{{url_for('Math.nyquist_png',formula=formula)}}" class="graph"></img>
</div>
{% endif %}

{% endblock %}