{% extends "layout.html" %}

{% block body %}
<h2><a href="{{url_for('Math.derivative_view')}}" class="heading">微分</a></h2>
<br>

<form action='{{url_for("Math.derivative_view")}}' method="post">
  <!-- 関数の入力 -->
  <div class="form-group">
    <label for="InputFormula">関数\(f(x,y,z)\)を入力してください</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text"><small>\(f(x,y,z)=\)</small></span>
      </div>
      <input type="text" name="formula" class="form-control" value="{{formula}}" placeholder="function">
    </div>
  </div><br>
  <!-- 演算の選択 -->
  <div class="center">
    <div class="radioArea" id="makeImg">
      {% if type=="x" %}
      <input type="radio" name="type" id="r1" value="x" checked><label for="r1">\(f_{x}\)</label>
      {% else %}
      <input type="radio" name="type" id="r1" value="x"><label for="r1">\(f_{x}\)</label>
      {% endif %}

      {% if type=="y" %}
      <input type="radio" name="type" id="r2" value="y" checked><label for="r2">\(f_{y}\)</label>
      {% else %}
      <input type="radio" name="type" id="r2" value="y"><label for="r2">\(f_{y}\)</label>
      {% endif %}

      {% if type=="z" %}
      <input type="radio" name="type" id="r3" value="z" checked><label for="r3">\(f_{z}\)</label>
      {% else %}
      <input type="radio" name="type" id="r3" value="z"><label for="r3">\(f_{z}\)</label>
      {% endif %}

      {% if type=="xx" %}
      <input type="radio" name="type" id="r4" value="xx" checked><label for="r4">\(f_{xx}\)</label>
      {% else %}
      <input type="radio" name="type" id="r4" value="xx"><label for="r4">\(f_{xx}\)</label>
      {% endif %}

      {% if type=="yy" %}
      <input type="radio" name="type" id="r5" value="yy" checked><label for="r5">\(f_{yy}\)</label>
      {% else %}
      <input type="radio" name="type" id="r5" value="yy"><label for="r5">\(f_{yy}\)</label>
      {% endif %}

      {% if type=="zz" %}
      <input type="radio" name="type" id="r6" value="zz" checked><label for="r6">\(f_{zz}\)</label>
      {% else %}
      <input type="radio" name="type" id="r6" value="zz"><label for="r6">\(f_{zz}\)</label>
      {% endif %}

      {% if type=="xy" %}
      <input type="radio" name="type" id="r7" value="xy" checked><label for="r7">\(f_{xy}\)</label>
      {% else %}
      <input type="radio" name="type" id="r7" value="xy"><label for="r7">\(f_{xy}\)</label>
      {% endif %}

      {% if type=="yz" %}
      <input type="radio" name="type" id="r8" value="yz" checked><label for="r8">\(f_{yz}\)</label>
      {% else %}
      <input type="radio" name="type" id="r8" value="yz"><label for="r8">\(f_{yz}\)</label>
      {% endif %}

      {% if type=="zx" %}
      <input type="radio" name="type" id="r9" value="zx" checked><label for="r9">\(f_{zx}\)</label>
      {% else %}
      <input type="radio" name="type" id="r9" value="zx"><label for="r9">\(f_{zx}\)</label>
      {% endif %}

      {% if type=="grad" %}
      <input type="radio" name="type" id="r10" value="grad" checked><label for="r10"><small>\(grad f\)</small></label>
      {% else %}
      <input type="radio" name="type" id="r10" value="grad"><label for="r10"><small>\(grad f\)</small></label>
      {% endif %}

      {% if type=="∆" %}
      <input type="radio" name="type" id="r11" value="∆" checked><label for="r11"><small>\(\Delta f\)</small></label>
      {% else %}
      <input type="radio" name="type" id="r11" value="∆"><label for="r11"><small>\(\Delta f\)</small></label>
      {% endif %}
    </div>
  </div><br>
  <button type="submit" class="btn btn-primary btn-block">計算</button>
</form><br><br>

{% if init_flag==0 %}
<div class="center">
  {% for anser in Anser %}
  <h4 class="latex">\({{anser}}\)</h4>
  {% endfor %}
  <br><br>
  <h5>\(\LaTeX\)</h5>
  <h5 class="latex" id="targetID">
    {% for anser in Anser %}
    <pre>{{anser}}</pre>
    {% endfor %}
  </h5>
  <br>
  <button class="btn btn-outline-success" onclick="copy()">コピー</button>
  <script src="static/js/copy.js"></script>
</div>
{% endif %}

{% endblock %}