{% extends "layout.html" %}

{% block body %}
<h2><a href="{{url_for('Math.derivative_view')}}" class="heading">微分</a></h2>
<br>

<form action='{{url_for("Math.derivative_view")}}' method="post" enctype="multipart/form-data">
  <!-- 関数の入力 -->
  <div class="form-group">
    <label for="InputFormula">関数\(f(x,y,z)\)を入力してください</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">f(x,y,z)=</span>
      </div>
      <input type="text" name="formula" class="form-control" value="{{formula}}" aria-describedby="basic-addon1"
        placeholder="function">
    </div>
  </div>
  <!-- 演算の選択 -->
  <div class="center">
    {% if type=="x" %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio0" value="x" checked="checked">
      <label class="form-check-label" for="inlineRadio0">\(f_{x}\)</label>
    </div>
    {% else %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio0" value="x">
      <label class="form-check-label" for="inlineRadio0">\(f_{x}\)</label>
    </div>
    {% endif %}

    {% if type=="y" %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="y" checked="checked">
      <label class="form-check-label" for="inlineRadio1">\(f_{y}\)</label>
    </div>
    {% else %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="y">
      <label class="form-check-label" for="inlineRadio1">\(f_{y}\)</label>
    </div>
    {% endif %}

    {% if type=="z" %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="z" checked="checked">
      <label class="form-check-label" for="inlineRadio1">\(f_{z}\)</label>
    </div>
    {% else %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio1" value="z">
      <label class="form-check-label" for="inlineRadio1">\(f_{z}\)</label>
    </div>
    {% endif %}

    {% if type=="xx"%}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="xx" checked="checked">
      <label class="form-check-label" for="inlineRadio2">\(f_{xx}\)</label>
    </div>
    {% else %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio2" value="xx">
      <label class="form-check-label" for="inlineRadio2">\(f_{xx}\)</label>
    </div>
    {% endif %}

    {% if type=="yy" %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio3" value="yy" checked="checked">
      <label class="form-check-label" for="inlineRadio3">\(f_{yy}\)</label>
    </div>
    {% else %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio3" value="yy">
      <label class="form-check-label" for="inlineRadio3">\(f_{yy}\)</label>
    </div>
    {% endif %}

    {% if type=="zz" %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio4" value="zz" checked="checked">
      <label class="form-check-label" for="inlineRadio4">\(f_{zz}\)</label>
    </div>
    {% else %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio4" value="zz">
      <label class="form-check-label" for="inlineRadio4">\(f_{zz}\)</label>
    </div>
    {% endif %}

    {% if type=="xy" %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio5" value="xy" checked="checked">
      <label class="form-check-label" for="inlineRadio4">\(f_{xy}\)</label>
    </div>
    {% else %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio5" value="xy">
      <label class="form-check-label" for="inlineRadio5">\(f_{xy}\)</label>
    </div>
    {% endif %}

    {% if type=="yz" %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio6" value="yz" checked="checked">
      <label class="form-check-label" for="inlineRadio6">\(f_{yz}\)</label>
    </div>
    {% else %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio6" value="yz">
      <label class="form-check-label" for="inlineRadio6">\(f_{yz}\)</label>
    </div>
    {% endif %}

    {% if type=="zx" %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio7" value="zx" checked="checked">
      <label class="form-check-label" for="inlineRadio7">\(f_{zx}\)</label>
    </div>
    {% else %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio7" value="zx">
      <label class="form-check-label" for="inlineRadio7">\(f_{zx}\)</label>
    </div>
    {% endif %}

    {% if type=="grad" %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio8" value="grad" checked="checked">
      <label class="form-check-label" for="inlineRadio8">\(\mathrm{grad} f\)</label>
    </div>
    {% else %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio8" value="grad">
      <label class="form-check-label" for="inlineRadio8">\(\mathrm{grad} f\)</label>
    </div>
    {% endif %}

    {% if type=="∆" %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio9" value="∆" checked="checked">
      <label class="form-check-label" for="inlineRadio9">\(\Delta f\)</label>
    </div>
    {% else %}
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="type" id="inlineRadio10" value="∆">
      <label class="form-check-label" for="inlineRadio10">\(\Delta f\)</label>
    </div>
    {% endif %}
  </div>

  <br>
  <button type="submit" class="btn btn-primary btn-block">計算</button>
</form><br>

{% if init_flag==0 %}
<h4 class="latex">\[{{Anser[0]}}\]</h4>
<h4 class="latex">\[{{Anser[1]}}\]</h4>

<br><br>
<div class="center">
  <h5>\(\LaTeX\)</h5>
  <h5 class="latex"><pre>{{Anser[0]}}</pre></h5>
  <h5 class="latex" id="targetID"><pre>{{Anser[1]}}</pre></h5>
  <br>
  <button class="btn btn-outline-success" onclick="copy()">コピー</button>
  <script src="static/js/copy.js"></script>
</div>
{% endif %}

{% endblock %}