{% extends "layout.html" %}

{% block body %}
<h2><a href="{{url_for('Math.factorization_view')}}" class="heading">因数分解</a></h2>
<br>
<form action='{{url_for("Math.factorization_view")}}' method="post">
  <div class="form-group">
    <label for="InputFormula">式を入力してください</label>
    <input type="text" name="formula" class="form-control" id="InputFormula" value="{{formula}}" placeholder="formula">
  </div><br>
  <button type="submit" class="btn btn-primary btn-block">計算</button>
</form><br><br>

{% if init_flag==0 %}
<div class="center">
  <h4 class="latex">\({{anser}}\)</h4>
  <br><br>
  <h5>\(\LaTeX\)</h5>
  <h5 class="latex" id="targetID">
    <pre>{{anser}}</pre>
  </h5>
  <br>
  <button class="btn btn-outline-success" onclick="copy()">コピー</button>
  <script src="static/js/copy.js"></script>
</div>
{% endif %}

{% endblock %}