{% extends "layout.html" %}

{% block body %}
<h2><a href="{{url_for('Math.Factorial_view')}}" class="heading">階乗</a></h2>
<br>

<form action='{{url_for("Math.Factorial_view")}}' method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="InputFormula">自然数を入力してください</label>
    <input type="text" name="formula" class="form-control" id="InputFormula" value="{{formula}}" placeholder="natural number">
  </div>

  <br>
  <button type="submit" class="btn btn-primary btn-block">計算</button>
</form>

<br><br><br>
<h1>
  <math>
    <mn>{{anser}}</mn>
  </math>
</h1>

{% endblock %}
