{% extends "layout.html" %}

{% block body %}
<h2 class="left">
  <a href="{{url_for('Math.graph_view')}}" class="heading">グラフ</a>
</h2><br><br>

<form action='{{url_for("Math.graph_view")}}' method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="InputFormula_1">式を入力してください</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">f(x)=</span>
      </div>
      <input type="text" name="formula_1" class="form-control" id="InputFormula_1" value="{{formula_1}}" placeholder="formula_1">
    </div>
  </div>

  <p>xの定義域を入力してください</p>
  <div class="form-row align-items-center">
    <div class="col-6">
      <div class="input-group">
        <input type="text" name="lower_end_x" class="form-control" value="{{lower_end_x}}" placeholder="lower_end_x" aria-describedby="basic-addon2">
      </div>
    </div>
    <div class="col-6">
      <div class="input-group">
        <input type="text" name="upper_end_x" class="form-control" value="{{upper_end_x}}" placeholder="upper_end_x" aria-describedby="basic-addon2">
      </div>
    </div>
  </div>

  <br>
  <button type="submit" class="btn btn-primary btn-block">描画</button>
</form>

{% if formula_1 %}
<img src="{{url_for('Math.graph_png',formula_1=formula_1,lower_end_x=lower_end_x,upper_end_x=upper_end_x)}}" class="graph"></img>
{% endif %}

{% endblock %}
