{% extends "layout.html" %}

{% block body %}
<br>
<div class="list-group">
  <a class="list-group-item list-group-item-action" href="{{url_for('Math.prime_factorization_view')}}">素因数分解</a>
  <a class="list-group-item list-group-item-action" href="{{url_for('Math.max_min_view')}}">極大値極小値</a>
  <a class="list-group-item list-group-item-action" href="{{url_for('Math.base_conversion_view')}}">進数変換</a>
  <a class="list-group-item list-group-item-action" href="{{url_for('Math.Apart_view')}}">部分分数分解</a>
  <a class="list-group-item list-group-item-action" href="{{url_for('Math.taylor_view')}}">テイラー展開</a>
  <a class="list-group-item list-group-item-action" href="{{url_for('Math.newton_method_view')}}">ニュートン法</a>
  <a class="list-group-item list-group-item-action" href="{{url_for('Math.Sieve_of_Eratosthenes_view')}}">ソクラテスのふるい</a>
  <a class="list-group-item list-group-item-action" href="{{url_for('Math.Euclidean_Algorithm_view')}}">ユークリッドの互除法</a>
  <a class="list-group-item list-group-item-action" href="{{url_for('Math.graph_view',type='re')}}">グラフ</a>
  <a class="list-group-item list-group-item-action" href="{{url_for('Math.Factorial_view')}}">階乗</a>
</div>
<br>
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="{{url_for('Math.index_view')}}"><<</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{url_for('Math.index_view')}}">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{url_for('Math.index_2_view')}}">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{url_for('Math.index_3_view')}}">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{url_for('Math.index_3_view')}}">>></a>
    </li>
  </ul>
</nav>

{% endblock %}
