{% extends "layout.html" %}

{% block body %}
<h2 class="left">
  <a href="{{url_for('Math.integral_view',dimension='2D')}}" class="heading">積分</a>
</h2>
<div class="right">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      選択してください
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{{url_for('Math.integral_view',dimension='2D')}}">積分</a>
      <a class="dropdown-item" href="{{url_for('Math.integral_view',dimension='3D')}}">重積分</a>
    </div>
  </div>
</div>

<br><br><br>

<form action='{{url_for("Math.integral_view",dimension=dimension)}}' method="post">
  <!-- 関数などの入力 -->
  <div class="form-group">
    <label for="InputFormula">被積分関数<small>\(f(x)\)</small>を入力してください</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <small class="input-group-text"><small>\(f(x)=\)</small></small>
      </div>
      <input type="text" name="formula" class="form-control" id="InputFormula" value="{{formula}}" placeholder="function">
    </div>
  </div>
  {% if dimension=="2D" %}
  <div class="form-group">
    <label for="InputUpperEnd_x">上端を入力してください</label>
    <input type="text" name="upper_end_x" class="form-control" id="InputUpperEnd_x" value="{{upper_end_x}}" placeholder="upper end">
  </div>
  <div class="form-group">
    <label for="InputLowerEnd_x">下端を入力してください</label>
    <input type="text" name="lower_end_x" class="form-control" id="InputLowerEnd_x" value="{{lower_end_x}}" placeholder="lower end">
  </div>
  {% elif dimension=="3D" %}
  <div class="form-group">
    <label for="InputUpperEnd_x">\(x\)の上端を入力してください</label>
    <input type="text" name="upper_end_x" class="form-control" id="InputUpperEnd_x" value="{{upper_end_x}}" placeholder="upper end x">
  </div>
  <div class="form-group">
    <label for="InputLowerEnd_x">\(x\)の下端を入力してください</label>
    <input type="text" name="lower_end_x" class="form-control" id="InputLowerEnd_x" value="{{lower_end_x}}" placeholder="lower end x">
  </div>
  <div class="form-group">
    <label for="InputUpperEnd_y">\(y\)の上端を入力してください</label>
    <input type="text" name="upper_end_y" class="form-control" id="InputUpperEnd_y" value="{{upper_end_y}}" placeholder="upper end y">
  </div>
  <div class="form-group">
    <label for="InputLowerEnd_y">\(y\)の下端を入力してください</label>
    <input type="text" name="lower_end_y" class="form-control" id="InputLowerEnd_y" value="{{lower_end_y}}" placeholder="lower end y">
  </div>
  {% endif %}

  <br>
  <!-- 演算の選択 -->
  <div class="center">
    <div class="radioArea" id="makeImg">
    {% if dimension=="2D" %}
      {% if type=="indefinite_integral" %}
      <input type="radio" name="type" id="r1" value="indefinite_integral" checked><label for="r1">不定積分</label>
      <input type="radio" name="type" id="r2" value="definite_integral_1"><label for="r2">定積分</label>
      <input type="radio" name="type" id="r3" value="definite_integral_2"><label for="r3">定積分(小数表示)</label>
      {% elif type=="definite_integral_1" %}
      <input type="radio" name="type" id="r1" value="indefinite_integral"><label for="r1">不定積分</label>
      <input type="radio" name="type" id="r2" value="definite_integral_1" checked><label for="r2">定積分</label>
      <input type="radio" name="type" id="r3" value="definite_integral_2"><label for="r3">定積分(小数表示)</label>
      {% elif type=="definite_integral_2" %}
      <input type="radio" name="type" id="r1" value="indefinite_integral"><label for="r1">不定積分</label>
      <input type="radio" name="type" id="r2" value="definite_integral_1"><label for="r2">定積分</label>
      <input type="radio" name="type" id="r3" value="definite_integral_2" checked><label for="r3">定積分(小数表示)</label>
      {% endif %}
    {% elif dimension=="3D" %}
      {% if type=="multiple_integral_1" %}
      <input type="radio" name="type" id="r1" value="multiple_integral_1" checked><label for="r1">重積分</label>
      <input type="radio" name="type" id="r2" value="multiple_integral_2"><label for="r2">重積分(小数表示)</label>
      {% elif type=="multiple_integral_2" %}
      <input type="radio" name="type" id="r1" value="multiple_integral_1"><label for="r1">重積分</label>
      <input type="radio" name="type" id="r2" value="multiple_integral_2" checked><label for="r2">重積分(小数表示)</label>
      {% endif %}
    {% endif %}
    </div>
  </div><br>
  <button type="submit" class="btn btn-primary btn-block">計算</button>
</form><br><br>

{% if init_flag==0 %}
<div class="center">
  <h4 class="latex">\({{anser}}\)</h4>
  <br><br>
  <h5>\(\LaTeX\)</h5>
  <h5 class="latex" id="targetID">
    <pre>{{anser}}</pre>
  </h5>
  <br>
  <button class="btn btn-outline-success" onclick="copy()">コピー</button>
  <script src="static/js/copy.js"></script>
</div>
{% endif %}

{% endblock %}