<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="static/images/icon.png">
  <link rel="apple-touch-icon" href="static/images/icon.png">
  <title>Flask Math</title>
  <!-- bootstrapのインポート -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!-- スタイルシート -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/mplus1p.css">
  <link rel=stylesheet href="static/css/style.css">
  <!-- MathJaxの導入 -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  {% block SCRIPT %}

  {% endblock%}
</head>

<body>
  <div class="wrapper">
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="navbar-brand" href="{{url_for('Math.index_view')}}">Flask Math</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/kouki-0926/Flask-Math" target="_blank">
            <img src="static/images/GitHub-Mark-64px.png" width="30" height="30" alt="GitHub">
          </a>
        </li>
        <div class="collapse navbar-collapse" id="navbarNav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MENU</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('main.index_view')}}">トップページ</a>
              <a class="dropdown-item" href="{{ url_for('Math.integral_view',dimension='2D')}}">積分</a>
              <a class="dropdown-item" href="{{ url_for('Math.derivative_view') }}">微分</a>
              <a class="dropdown-item" href="{{ url_for('Math.lim_view') }}">極限</a>
              <a class="dropdown-item" href="{{ url_for('Math.matrix_view') }}">行列</a>
              <a class="dropdown-item" href="{{ url_for('Math.matrix_2_view') }}">行列の演算</a>
              <a class="dropdown-item" href="{{ url_for('Math.equation_view') }}">方程式</a>
              <a class="dropdown-item" href="{{ url_for('Math.equations_view',number=1)}}">連立方程式</a>
              <a class="dropdown-item" href="{{ url_for('Math.diff_equation_view') }}">微分方程式</a>
              <a class="dropdown-item" href="{{ url_for('Math.Expand_view') }}">展開</a>
              <a class="dropdown-item" href="{{ url_for('Math.factorization_view') }}">因数分解</a>
              <a class="dropdown-item" href="{{ url_for('Math.prime_factorization_view') }}">素因数分解</a>
              <a class="dropdown-item" href="{{ url_for('Math.max_min_view') }}">極大値極小値</a>
              <a class="dropdown-item" href="{{ url_for('Math.base_conversion_view') }}">進数変換</a>
              <a class="dropdown-item" href="{{ url_for('Math.Apart_view') }}">部分分数分解</a>
              <a class="dropdown-item" href="{{ url_for('Math.taylor_view') }}">テイラー展開</a>
              <a class="dropdown-item" href="{{ url_for('Math.newton_method_view') }}">ニュートン法</a>
              <a class="dropdown-item" href="{{ url_for('Math.Sieve_of_Eratosthenes_view') }}">ソクラテスのふるい</a>
              <a class="dropdown-item" href="{{ url_for('Math.Euclidean_Algorithm_view') }}">ユークリッドの互除法</a>
              <a class="dropdown-item" href="{{ url_for('Math.graph_view',type='re') }}">グラフ</a>
              <a class="dropdown-item" href="{{ url_for('Math.Factorial_view') }}">階乗</a>
              <a class="dropdown-item" href="{{ url_for('Math.latex_view',input_type='python') }}">\(\LaTeX\)</a>
              <a class="dropdown-item" href="{{ url_for('Math.BMI_view') }}">BMI</a>
              <a class="dropdown-item" href="{{ url_for('Math.instructions_view') }}">入力上の注意</a>
            </div>
          </li>
        </div>
      </ul>
    </nav>

    <!-- flash -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}

    <!--本文 -->
    <div class="container-fluid">
      <div class="blog-body">
        {% block body %}

        {% endblock%}
      </div>
    </div>

    <!-- フッター -->
    <footer class="footer">
      <ul class="footer_ul">
        <a style="display: block;" class="heading" href="{{ url_for('main.index_view')}}"><small>トップページ</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.integral_view',dimension='2D')}}"><small>積分</small>
        <a style="display: block;" class="heading" href="{{ url_for('Math.derivative_view') }}"><small>微分</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.lim_view') }}"><small>極限</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.matrix_view') }}"><small>行列</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.matrix_2_view') }}"><small>行列の演算</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.equation_view') }}"><small>方程式</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.equations_view',number=1)}}"><small>連立方程式</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.diff_equation_view') }}"><small>微分方程式</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.Expand_view') }}"><small>展開</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.factorization_view') }}"><small>因数分解</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.prime_factorization_view') }}"><small>素因数分解</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.max_min_view') }}"><small>極大値極小値</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.base_conversion_view') }}"><small>進数変換</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.Apart_view') }}"><small>部分分数分解</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.taylor_view') }}"><small>テイラー展開</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.newton_method_view') }}"><small>ニュートン法</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.Sieve_of_Eratosthenes_view') }}"><small>ソクラテスのふるい</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.Euclidean_Algorithm_view') }}"><small>ユークリッドの互除法</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.graph_view',type='re') }}"><small>グラフ</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.Factorial_view') }}"><small>階乗</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.latex_view',input_type='python') }}"><small>\(\LaTeX\)</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.BMI_view') }}"><small>BMI</small></a>
        <a style="display: block;" class="heading" href="{{ url_for('Math.instructions_view') }}"><small>入力上の注意</small></a>
      </ul>

      <div class="center">
        <small>&copy; 2020-<span id="thisYear"></span> Koki</small>
        <script type="text/javascript">
          date = new Date();
          thisYear = date.getFullYear();
          document.getElementById("thisYear").innerHTML = thisYear;
        </script>
        <a class="heading" href="https://github.com/kouki-0926" target="_blank">
          <img src="static/images/GitHub-Mark-64px.png" width="25" height="25" alt="GitHub">
        </a>
      </div>

    </footer>

  </div>
</body>

</html>