{% extends "layout.html" %}

{% block body %}
<h2><a href="{{url_for('Math.lim_view')}}" class="heading">極限</a></h2>
<br>

<form action='{{url_for("Math.lim_view")}}' method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="InputFormula">関数を入力してください</label>
    <input type="text" name="formula" class="form-control" id="InputFormula" value="{{formula}}" placeholder="function">
  </div>
  <div class="form-group">
    <label for="Input_a">ｘが近づく値</label>
    <input type="text" name="a" class="form-control" id="Input_a" value="{{a}}" placeholder="x">
  </div><br>
  
  <button type="submit" class="btn btn-primary btn-block">計算</button>
</form><br>


{% if init_flag==0 %}
<h4 class="latex">\[{{anser}}\]</h4>

<br><br>
<div class="center">
  <h5>\(\LaTeX\)</h5>
  <h5 class="latex" id="targetID"><pre>{{anser}}</pre></h5>
  <br>
  <button class="btn btn-outline-success" onclick="copy()">コピー</button>
  <script src="static/js/copy.js"></script>
</div>
{% endif %}

{% endblock %}
