{% extends "layout.html" %}

{% block body %}
<h2><a href="{{url_for('view.max_min_view')}}" class="heading">極大値極小値</a></h2>
<br>

<form action='{{url_for("view.max_min_view")}}' method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="InputFormula">関数を入力してください</label><br>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">f(x,y)=</span>
      </div>
      <input type="text" name="formula" value="{{formula}}" placeholder="function" class="form-control" aria-describedby="basic-addon1">
    </div>
  </div>

  <br>
  <button type="submit" class="btn btn-primary btn-block">計算</button>
</form>

<br><br><br>
{% for anser in Anser %}
<h2>
  <math>
    <mn>{{anser}}</mn>
  </math>
</h2>
{% endfor %}

{% endblock %}
