{% extends "layout.html" %}

{% block body %}
<h2><a href="{{url_for('Math.max_min_view')}}" class="heading">極大値極小値</a></h2>
<br>
<form action='{{url_for("Math.max_min_view")}}' method="post">
  <div class="form-group">
    <label for="InputFormula">関数を入力してください</label><br>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">f(x,y)=</span>
      </div>
      <input type="text" name="formula" value="{{formula}}" placeholder="function" class="form-control">
    </div>
  </div><br>
  <button type="submit" class="btn btn-primary btn-block">計算</button>
</form><br><br>

{% if init_flag==0 %}
<div class="center">
  {% for anser in Anser %}
  <h4 class="latex">\({{anser}}\)</h4>
  {% endfor %}
  <br><br>
  <h5>\(\LaTeX\)</h5>
  <h5 class="latex" id="targetID">
    {% for anser in Anser %}
    <pre>{{anser}}</pre>
    {% endfor %}
  </h5>
  <br>
  <button class="btn btn-outline-success" onclick="copy()">コピー</button>
  <script src="static/js/copy.js"></script>
</div>
{% endif %}

{% endblock %}