{% extends "layout.html" %}

{% block body %}
<h2><a href="{{url_for('view.newton_method_view')}}" class="heading">ニュートン法</a></h2>
<br>

<form action='{{url_for("view.newton_method_view")}}' method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="InputNumber">正の数を入力してください</label>
    <input type="text" name="number" class="form-control" id="InputNumber" value="{{number}}" placeholder="positive number">
  </div>

  <br>
  <button type="submit" class="btn btn-primary btn-block">計算</button>
</form>

<br><br><br>
{% if anser_0=="initial" %}

{% elif anser_0=="Error" %}
<h2>
  <math>
    <mn>{{anser_0}}</mn>
  </math>
</h2>
{% else %}
<h2>
  <math>
    <msqrt>
      <mn>{{anser_0}}</mn>
    </msqrt>
    <mn>{{anser_1}}</mn>
  </math>
</h2>
{% endif %}

{% endblock %}
