{% extends "layout.html" %}

{% block body %}
<h2><a href="{{url_for('view.Sieve_of_Eratosthenes_view')}}" class="heading">ソクラテスのふるい</a></h2>
<br>

<form action='{{url_for("view.Sieve_of_Eratosthenes_view")}}' method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="InputNumber">2以上の自然数を入力してください</label>
    <input type="text" name="number" class="form-control" id="InputNumber" value="{{number}}" placeholder="natural number">
  </div>

  <br>
  <button type="submit" class="btn btn-primary btn-block">計算</button>
</form>

<br><br><br>
{% for anser in Anser %}
<h2>
  <math>
    <mn>{{anser}}</mn>
  </math>
</h2>
{% endfor %}

{% endblock %}
