{% extends "layout.html" %}

{% block body %}
<h2><a href="{{url_for('Math.taylor_view')}}" class="heading">テイラー展開</a></h2>
<br>

<form action='{{url_for("Math.taylor_view")}}' method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="InputFormula">テイラー展開したい関数を入力してください</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">f(x)=</span>
      </div>
      <input type="text" name="formula" class="form-control" value="{{formula}}" aria-describedby="basic-addon1"  placeholder="function">
    </div>
  </div>
  <div class="form-group">
    <label for="InputDimension">次数</label>
    <input type="text" name="dimension" class="form-control" id="InputDimension" value="{{dimension}}" placeholder="dimension">
  </div>
  <div class="form-group">
    <label for="InputCenter">中心点</label>
    <input type="text" name="center" class="form-control" id="InputCenter" value="{{center}}" placeholder="center">
  </div>

  <br>
  <button type="submit" class="btn btn-primary btn-block btn-block">計算</button>
</form><br>


{% if init_flag==0 %}
<h4 class="latex">\[{{Anser[0]}}\]</h4>
<h4 class="latex">\[{{Anser[1]}}\]</h4>

<br><br>
<div class="center">
  <h5>latex</h5>
  <h5 class="latex">{{Anser[0]}}</h5>
  <h5 class="latex" id="targetID">{{Anser[1]}}</h5>
  <br>
  <button class="btn btn-outline-success" onclick="copy()">コピー</button>
  <script src="static/js/copy.js"></script>
</div>
{% endif %}

{% endblock %}
