{% extends "layout_raspi.html" %}

{% block SCRIPT %}
{% if state=="blink" %}
<script type="text/javascript">
    function jumpPage() {
        location.href = "{{url_for('raspi.led_view',state='blink')}}";
    }
    setTimeout("jumpPage()", 1000)
</script>
{% endif %}
{% endblock %}


{% block BODY %}
<h2>Hello World!!</h2>
<h6>{{state}}</h6>


{% if state=="high" %}
<button class="display-none btn btn-success" onclick="location.href='/raspi/led?state=high'">HIGH</button>
<button class="display-none btn btn-secondary" onclick="location.href='/raspi/led?state=low'">LOW</button>
{% elif state=="low" %}
<button class="display-none btn btn-secondary" onclick="location.href='/raspi/led?state=high'">HIGH</button>
<button class="display-none btn btn-success" onclick="location.href='/raspi/led?state=low'">LOW</button>
{% endif %}

{% endblock %}


{% block FOOTER %}

{% endblock %}