{% extends "layout_raspi.html" %}

{% block SCRIPT %}
{% if state=="blink" %}
<script type="text/javascript">
  function jumpPage() {
    location.href = "{{url_for('raspi.led_view',state='blink')}}";
  }
  setTimeout("jumpPage()", 1000)
</script>
{% endif %}
{% endblock %}


{% block BODY %}
<h2>Hello World!!</h2>
<h6>{{state}}</h6>

{% if state=="blink" %}
<button class="btn btn-success" onclick="location.href='{{url_for("raspi.led_view",state="blink")}}'">BLINK</button>
{% else %}
<button class="btn btn-secondary" onclick="location.href='{{url_for("raspi.led_view",state="blink")}}'">BLINK</button>
{% endif %}

{% if state=="high" %}
<button class="btn btn-success" onclick="location.href='{{url_for("raspi.led_view",state="high")}}'">HIGH</button>
{% else %}
<button class="btn btn-secondary" onclick="location.href='{{url_for("raspi.led_view",state="high")}}'">HIGH</button>
{% endif %}

{% if state=="low" %}
<button class="btn btn-success" onclick="location.href='{{url_for("raspi.led_view",state="low")}}'">LOW</button>
{% else %}
<button class="btn btn-secondary" onclick="location.href='{{url_for("raspi.led_view",state="low")}}'">LOW</button>
{% endif %}

{% if state=="rgb" %}
<button class="btn btn-success" onclick="location.href='{{url_for("raspi.led_view",state="rgb")}}'">rgb</button>
{% else %}
<button class="btn btn-secondary" onclick="location.href='{{url_for("raspi.led_view",state="rgb")}}'">rgb</button>
{% endif %}

{% endblock %}