@charset "UTF-8";
.blog-body {
  padding: 1.25em;
}

* {
  font-family: "Mplus 1p";
}

.heading:link,
.heading:visited {
  color: #000000;
  text-decoration: none;
}

.heading:hover {
  color: #555555;
  text-decoration: none;
}

.center {
  text-align: center;
}

/* footer */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  background-color: darkgray;
  padding: 15px 0;
}

.footer_ul {
  column-count: 5;
}

@media only screen and (max-device-width: 480px) {
  .footer_ul {
    column-count: 2;
  }
}
