@charset "UTF-8";

.blog-body {
  padding: 1.25em;
}

* {
  font-family: "Mplus 1p";
}

.heading:link ,.heading:visited{
  color: rgb(0,0,0);
  text-decoration: none;
}

.heading:hover {
  color: rgb(0,100,45);
  text-decoration: none;
}

.heading2:link {
  text-decoration: none;
}

.center {
  text-align: center;
}

/* footer */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  background-color: darkgray;
  padding: 15px 0;
}

