{% extends "layout_arduino.html" %}

{% block SCRIPT %}
<script type="text/javascript">
  function jumpPage() {
    location.href = "{{url_for('arduino.measure_temp_view',graph_type=graph_type)}}";
  }
  setTimeout("jumpPage()", 10000)
</script>
{% endblock %}


{% block BODY %}
<div id="parent">
  <div id="child1">
    <h4>{{time}}</h4>
    <h4>temperature: {{temperature}}℃</h4>
    <h4>humidity: {{humidity}}%</h4><br>

    {% if graph_type=="temp" %}
    <button class="btn btn-primary" onclick="location.href='/arduino/measure_temp?graph_type=temp'">
      <small>temperature</small>
    </button>
    {% else %}
    <button class="btn btn-secondary" onclick="location.href='/arduino/measure_temp?graph_type=temp'">
      <small>temperature</small>
    </button>
    {% endif %}

    {% if graph_type=="humi" %}
    <button class="btn btn-primary" onclick="location.href='/arduino/measure_temp?graph_type=humi'">
      <small>humidity</small>
    </button>
    {% else %}
    <button class="btn btn-secondary" onclick="location.href='/arduino/measure_temp?graph_type=humi'">
      <small>humidity</small>
    </button>
    {% endif %}

    <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
      <small>reset</small>
    </button>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to reset the data?</h5>
            <button class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <button class="btn btn-secondary" data-dismiss="modal">cansel</button>
            <button class="btn btn-danger" onclick="location.href='/arduino/measure_temp?graph_type=reset'">reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="child2">
    <img src="{{url_for('arduino.graph_temp_view',graph_type=graph_type)}}" alt="graph" class="graph">
  </div>
</div>
{% endblock %}