{% extends "layout_cpu.html" %}

{% block BODY %}
<br>
<!-- 時計の表示 -->
<h4 id="RealtimeClock" class="left"></h4>
<script src="static_cpu/js/RealTimeClock.js"></script>

<div class="right">
  <select name="region" id="region" style="width: 250px">
    <option value="">地方を選択してください</option>
    <optgroup label="地方選択">
      <option value="北海道">北海道</option>
      <option value="東北">東北</option>
      <option value="関東">関東</option>
      <option value="中部">中部</option>
      <option value="近畿">近畿</option>
      <option value="中国">中国</option>
      <option value="四国">四国</option>
      <option value="九州・沖縄">九州・沖縄</option>
    </optgroup>
  </select>

  <select name="pref" id="pref" style="width: 250px">
    <option value="">先に地方を選択してください</option>
  </select>

  <script src="static_cpu/js/select_pref.js"></script>
  <script>
    const selected_pref = document.getElementById("pref");
    selected_pref.onchange = function () {
      location.href = "{{url_for('cpu.weather_view')}}" + "?pref_num=" + selected_pref.value;
    };
  </script>
</div>

{% if Data %}
<div class="center">
  <br><br><br>
  <h3>{{Data[0]}} </h3>
  <h3>{{Data[1]}}発表</h3>
  <br>
</div>

<div class="card-deck">
  {% for data in Forecast %}
  <div class="card text-center border-success">
    <div class="card-header">
      <h4>{{data[0]}}の天気</h4>
    </div>
    <div class="card-body text-success">
      <p>{{data[1]}}</p>
      <img src="{{data[2]}}" width=50 height=31></img>
      <p>{{data[3]}} {{data[4]}}</p>
      <p>{{data[5]}}</p>
      <p>{{data[6]}}</p>
      <p>{{data[7]}}</p>
      <p>{{data[8]}}</p>
    </div>
  </div>
  {% endfor %}
</div>

<br>
<p>{{Data[2]}}</p>
{% endif %}

{% endblock %}


{% block FOOTER %}
<div class="center">
  <ul class="footer_ul_weather">
    <a style="display: block;" class="heading" href="{{Data[3]}}" target="_blank">
      <img src="{{Data[4]}}" width=25 height=25></img>
      <small>Supported By 天気予報API(livedoor 天気互換)</small>
    </a>
    <a style="display: block;" class="heading" href="{{Data[5]}}" target="_blank">
      <small>気象庁HP</small>
    </a>
  </ul>
</div>
<hr>
{% endblock %}