{% extends "layout_main.html" %}

{% block body %}
<br>
<div class="card-deck">
  <div class="card text-center border-success">
    <div class="card-header">
      <b><a href='{{url_for("Math.index_view")}}' class="heading">Flask Math</a></b>
    </div>
    <a href='{{url_for("Math.index_view")}}'>
      <img src="../static_main/images/tenkey.png" alt="Math" width="150" height="100">
    </a>
    <div class="card-body text-success">
      <p class="card-text">Flask Math is a web site that can perform various calculations such as calculus and matrix.
      </p>
    </div>
  </div>

  <div class="card text-center border-success">
    <div class="card-header">
      <b><a href='{{url_for("cpu.index_view")}}' class="heading">Flask CPU</a></b>
    </div>
    <a href='{{url_for("cpu.index_view")}}'>
      <img src="../static_main/images/CPU.png" alt="CPU" width="150" height="100">
    </a>
    <div class="card-body text-success">
      <p class="card-text">Flask CPU is a web site where you can get various values of CPU.</p>
    </div>
  </div>

  <div class="card text-center border-success">
    <div class="card-header">
      <b><a href='{{url_for("arduino.index_view")}}' class="heading">Flask Arduino</a></b>
    </div>
    <a href='{{url_for("arduino.index_view")}}'>
      <img src="../static_main/images/arduino-icon.png" alt="Arduino" width="150" height="100">
    </a>
    <div class="card-body text-success">
      <p class="card-text">Flask Arduino is a web site where you can get various values from Arduino.</p>
    </div>
  </div>

  <div class="card text-center border-success">
    <div class="card-header">
      <b><a href='{{url_for("raspi.index_view")}}' class="heading">Flask raspi</a></b>
    </div>
    <a href='{{url_for("raspi.index_view")}}'>
      <img src="../static_main/images/RaspberryPi.png" alt="raspberryPi" width="150" height="100">
    </a>
    <div class="card-body text-success">
      <p class="card-text">Flask raspberryPi</p>
    </div>
  </div>

  <div class="card text-center border-success">
    <div class="card-header">
      <b><a href='{{url_for("game.index_view")}}' class="heading">Flask Game</a></b>
    </div>
    <a href='{{url_for("game.index_view")}}'>
      <img src="../static_main/images/game.png" alt="Game" width="150" height="100">
    </a>
    <div class="card-body text-success">
      <h2 class="card-text" style="color:yellow;background-color: black;">Flask Game is in development</h2>
    </div>
  </div>

</div>

{% endblock %}