<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Flask RaspberryPi</title>
  <!-- bootstrapのインポート -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <!-- スタイルシート -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/mplus1p.css">
  <link rel=stylesheet href="static_main/css/style.css">
  <!-- MathJaxの導入 -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=MML_SVG"></script>
</head>

<body>
  <div class="container">
    <!-- ナビゲーションバー -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="{{url_for('main.index_view')}}">Flask RaspberryPi</a>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/kouki-0926" target="_blank">
              <img src="static_main/images/GitHub-Mark-64px.png" width="30" height="30" alt="GitHub">
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MENU</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{{ url_for('main.index_view')}}">TopPage</a>
              <a class="dropdown-item" href="{{ url_for('view.index_view')}}">Flask math</a>
              <a class="dropdown-item" href="{{ url_for('cpu.index')}}">Flask CPU</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- flash -->
    {% for message in get_flashed_messages() %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}

    <!--本文 -->
    <div class="blog-body">
      {% block body %}

      {% endblock%}
    </div>

  </div>
</body>

</html>
